
configs/DCNC/linuxcnc.var*

configs/DCNC/tool.tbl

*.log

*.dat

qtvcp/images/hd_axis/A_0.png

qtvcp/images/hd_axis/A_1.png

qtvcp/images/hd_axis/B_0.png

qtvcp/images/hd_axis/B_1.png

qtvcp/images/hd_axis/Button_0.png

qtvcp/images/hd_axis/Button_1.png

qtvcp/images/hd_axis/Flood_0.png

qtvcp/images/hd_axis/Home_0.png

qtvcp/images/hd_axis/Home_1.png

qtvcp/images/hd_axis/M3_0.png

qtvcp/images/hd_axis/M4_0.png

qtvcp/images/hd_axis/MDI_GO_0.png

qtvcp/images/hd_axis/Mist_0.png

qtvcp/images/hd_axis/STOP_0.png

qtvcp/images/hd_axis/T-Touch_0.png

qtvcp/images/hd_axis/tool_axis_p.png

qtvcp/images/hd_axis/tool_axis_x.png

qtvcp/images/hd_axis/tool_axis_y.png

qtvcp/images/hd_axis/tool_axis_z.png

qtvcp/images/hd_axis/tool_axis_z2.png

qtvcp/images/hd_axis/tool_blockdelete.png

qtvcp/images/hd_axis/tool_clear.png

qtvcp/images/hd_axis/tool_estop.png

qtvcp/images/hd_axis/tool_open.png

qtvcp/images/hd_axis/tool_optpause.png

qtvcp/images/hd_axis/tool_pause.png

qtvcp/images/hd_axis/tool_power.png

qtvcp/images/hd_axis/tool_reload.png

qtvcp/images/hd_axis/tool_rotate.png

qtvcp/images/hd_axis/tool_run.png

qtvcp/images/hd_axis/tool_step.png

qtvcp/images/hd_axis/tool_stop.png

qtvcp/images/hd_axis/tool_zoomin.png

qtvcp/images/hd_axis/tool_zoomout.png

qtvcp/images/hd_axis/Touch_0.png

qtvcp/images/hd_axis/X_0.png

qtvcp/images/hd_axis/X_1.png

qtvcp/images/hd_axis/Y_0.png

qtvcp/images/hd_axis/Y_1.png

qtvcp/images/hd_axis/Z_0.png

qtvcp/images/hd_axis/Z_1.png

qtvcp/images/probe_icons/angle.png

qtvcp/images/probe_icons/angleX-.png

qtvcp/images/probe_icons/angleX\+.png

qtvcp/images/probe_icons/angleY-.png

qtvcp/images/probe_icons/angleY\+.png

qtvcp/images/probe_icons/boss_center_help.png

qtvcp/images/probe_icons/center.png

qtvcp/images/probe_icons/down.png

qtvcp/images/probe_icons/edge_length.png

qtvcp/images/probe_icons/hole_center_help.png

qtvcp/images/probe_icons/hole_center.png

qtvcp/images/probe_icons/inHole.png

qtvcp/images/probe_icons/inside_corner_help.png

qtvcp/images/probe_icons/inside_xl.png

qtvcp/images/probe_icons/inside_yl.png

qtvcp/images/probe_icons/inX-.png

qtvcp/images/probe_icons/inX-Y-.png

qtvcp/images/probe_icons/inX-Y\+.png

qtvcp/images/probe_icons/inX\+.png

qtvcp/images/probe_icons/inX\+Y-.png

qtvcp/images/probe_icons/inX\+Y\+.png

qtvcp/images/probe_icons/inY-.png

qtvcp/images/probe_icons/inY\+.png

qtvcp/images/probe_icons/latch_dist.png

qtvcp/images/probe_icons/max_probe.png

qtvcp/images/probe_icons/outside_corner_help.png

qtvcp/images/probe_icons/outside_xl.png

qtvcp/images/probe_icons/outside_yl.png

qtvcp/images/probe_icons/probe_a.png

qtvcp/images/probe_icons/probe_center_x.png

qtvcp/images/probe_icons/probe_center_y.png

qtvcp/images/probe_icons/probe_centr.png

qtvcp/images/probe_icons/probe_d.png

qtvcp/images/probe_icons/probe_diam.png

qtvcp/images/probe_icons/probe_lx.png

qtvcp/images/probe_icons/probe_ly.png

qtvcp/images/probe_icons/probe_vel.png

qtvcp/images/probe_icons/probe_xm.png

qtvcp/images/probe_icons/probe_xp.png

qtvcp/images/probe_icons/probe_ym.png

qtvcp/images/probe_icons/probe_yp.png

qtvcp/images/probe_icons/probe_z.png

qtvcp/images/probe_icons/rappid.png

qtvcp/images/probe_icons/reset_curr.png

qtvcp/images/probe_icons/rott.png

qtvcp/images/probe_icons/search_vel.png

qtvcp/images/probe_icons/tool_dia.png

qtvcp/images/probe_icons/touch.png

qtvcp/images/probe_icons/ts_height.png

qtvcp/images/probe_icons/workpiece_height.png

qtvcp/images/probe_icons/X-.png

qtvcp/images/probe_icons/X-Y-.png

qtvcp/images/probe_icons/X-Y\+.png

qtvcp/images/probe_icons/X\+.png

qtvcp/images/probe_icons/X\+Y-.png

qtvcp/images/probe_icons/X\+Y\+.png

qtvcp/images/probe_icons/X0.png

qtvcp/images/probe_icons/xy_center.png

qtvcp/images/probe_icons/XYclearance.png

qtvcp/images/probe_icons/Y-.png

qtvcp/images/probe_icons/Y\+.png

qtvcp/images/probe_icons/Y\+X-.png

qtvcp/images/probe_icons/Y0.png

qtvcp/images/probe_icons/Z0.png

qtvcp/images/probe_icons/Zclearance.png

qtvcp/images/probe_icons_1024x768/angle.png

qtvcp/images/probe_icons_1024x768/angleX-.png

qtvcp/images/probe_icons_1024x768/angleX\+.png

qtvcp/images/probe_icons_1024x768/angleY-.png

qtvcp/images/probe_icons_1024x768/angleY\+.png

qtvcp/images/probe_icons_1024x768/center.png

qtvcp/images/probe_icons_1024x768/down.png

qtvcp/images/probe_icons_1024x768/edge_length.png

qtvcp/images/probe_icons_1024x768/hole_center.png

qtvcp/images/probe_icons_1024x768/inHole.png

qtvcp/images/probe_icons_1024x768/inX-.png

qtvcp/images/probe_icons_1024x768/inX-Y-.png

qtvcp/images/probe_icons_1024x768/inX-Y\+.png

qtvcp/images/probe_icons_1024x768/inX\+.png

qtvcp/images/probe_icons_1024x768/inX\+Y-.png

qtvcp/images/probe_icons_1024x768/inX\+Y\+.png

qtvcp/images/probe_icons_1024x768/inY-.png

qtvcp/images/probe_icons_1024x768/inY\+.png

qtvcp/images/probe_icons_1024x768/latch_dist.png

qtvcp/images/probe_icons_1024x768/max_probe.png

qtvcp/images/probe_icons_1024x768/probe_a.png

qtvcp/images/probe_icons_1024x768/probe_center_x.png

qtvcp/images/probe_icons_1024x768/probe_center_y.png

qtvcp/images/probe_icons_1024x768/probe_centr.png

qtvcp/images/probe_icons_1024x768/probe_d.png

qtvcp/images/probe_icons_1024x768/probe_diam.png

qtvcp/images/probe_icons_1024x768/probe_lx.png

qtvcp/images/probe_icons_1024x768/probe_ly.png

qtvcp/images/probe_icons_1024x768/probe_vel.png

qtvcp/images/probe_icons_1024x768/probe_xm.png

qtvcp/images/probe_icons_1024x768/probe_xp.png

qtvcp/images/probe_icons_1024x768/probe_ym.png

qtvcp/images/probe_icons_1024x768/probe_yp.png

qtvcp/images/probe_icons_1024x768/probe_z.png

qtvcp/images/probe_icons_1024x768/rappid.png

qtvcp/images/probe_icons_1024x768/reset_curr.png

qtvcp/images/probe_icons_1024x768/rott.png

qtvcp/images/probe_icons_1024x768/search_vel.png

qtvcp/images/probe_icons_1024x768/touch.png

qtvcp/images/probe_icons_1024x768/X-.png

qtvcp/images/probe_icons_1024x768/X-Y-.png

qtvcp/images/probe_icons_1024x768/X-Y\+.png

qtvcp/images/probe_icons_1024x768/X\+.png

qtvcp/images/probe_icons_1024x768/X\+Y-.png

qtvcp/images/probe_icons_1024x768/X\+Y\+.png

qtvcp/images/probe_icons_1024x768/X0.png

qtvcp/images/probe_icons_1024x768/xy_center.png

qtvcp/images/probe_icons_1024x768/XYclearance.png

qtvcp/images/probe_icons_1024x768/Y-.png

qtvcp/images/probe_icons_1024x768/Y\+.png

qtvcp/images/probe_icons_1024x768/Y\+X-.png

qtvcp/images/probe_icons_1024x768/Y0.png

qtvcp/images/probe_icons_1024x768/Z0.png

qtvcp/images/probe_icons_1024x768/Zclearance.png

qtvcp/images/a_minus_jog_button.png

qtvcp/images/a_plus_jog_button.png

qtvcp/images/applet-critical.png

qtvcp/images/b_endmill.png

qtvcp/images/b2_endmill.png

qtvcp/images/b3_endmill.png

qtvcp/images/b4_endmill.png

qtvcp/images/clear_22x22.png

qtvcp/images/clear.png

qtvcp/images/coolant_flood_plain.gif

qtvcp/images/coolant_flood_plain.xcf

qtvcp/images/coolant_flood.xcf

qtvcp/images/coolant_mist_plain.gif

qtvcp/images/coolant_mist_plain.xcf

qtvcp/images/coolant_mist.xcf

qtvcp/images/endmill.png

qtvcp/images/frame_bg_blue.png

qtvcp/images/frame_bg_grey.png

qtvcp/images/hazzy_bg_black.png

qtvcp/images/lcnc_swoop.png

qtvcp/images/limit_error.png

qtvcp/images/linuxcnc-wizard.gif

qtvcp/images/no_tool.png

qtvcp/images/no_tool.xcf

qtvcp/images/ref_all_critical.png

qtvcp/images/ref_all_not_22x22.png

qtvcp/images/ref_all_not.png

qtvcp/images/ref_all.png

qtvcp/images/ref_x_not.png

qtvcp/images/ref_z_not.png

qtvcp/images/spindle_ccw.gif

qtvcp/images/spindle_cw.gif

qtvcp/images/std_info.gif

qtvcp/images/tool_7-.png

qtvcp/images/tool_clear.gif

qtvcp/images/tool_reload.gif

qtvcp/images/unknown_tool.png

qtvcp/images/x_minus_jog_button.png

qtvcp/images/x_plus_jog_button.png

qtvcp/images/y_minus_jog_button.png

qtvcp/images/y_plus_jog_button.png

qtvcp/images/z_minus_jog_button.png

qtvcp/images/z_plus_jog_button.png

qtvcp/images/widgets/basic_probe_icons/back_left_outside_corner.png

qtvcp/images/widgets/basic_probe_icons/back_middle_outside_edge.png

qtvcp/images/widgets/basic_probe_icons/back_right_outside_corner.png

qtvcp/images/widgets/basic_probe_icons/front_left_outside_corner.png

qtvcp/images/widgets/basic_probe_icons/front_middle_edge.png

qtvcp/images/widgets/basic_probe_icons/front_right_outside_corner.png

qtvcp/images/widgets/basic_probe_icons/inside_back_left_corner.png

qtvcp/images/widgets/basic_probe_icons/inside_back_right_corner.png

qtvcp/images/widgets/basic_probe_icons/inside_corners_3d_image.png

qtvcp/images/widgets/basic_probe_icons/inside_front_left_corner.png

qtvcp/images/widgets/basic_probe_icons/inside_front_right_corner.png

qtvcp/images/widgets/basic_probe_icons/left_side_edge.png

qtvcp/images/widgets/basic_probe_icons/probe_back_edge_angle_r.png

qtvcp/images/widgets/basic_probe_icons/probe_cal_round_boss.png

qtvcp/images/widgets/basic_probe_icons/probe_cal_round_pocket.png

qtvcp/images/widgets/basic_probe_icons/probe_cal_square_boss.png

qtvcp/images/widgets/basic_probe_icons/probe_cal_square_pocket.png

qtvcp/images/widgets/basic_probe_icons/probe_corner_x_minus_edge_angle_r.png

qtvcp/images/widgets/basic_probe_icons/probe_corner_x_plus_edge_angle_r.png

qtvcp/images/widgets/basic_probe_icons/probe_corner_y_minus_edge_angle_r.png

qtvcp/images/widgets/basic_probe_icons/probe_corner_y_plus_edge_angle_r.png

qtvcp/images/widgets/basic_probe_icons/probe_front_edge_angle_r.png

qtvcp/images/widgets/basic_probe_icons/probe_left_edge_angle_r.png

qtvcp/images/widgets/basic_probe_icons/probe_right_edge_angle_r.png

qtvcp/images/widgets/basic_probe_icons/probe_x_ridge.png

qtvcp/images/widgets/basic_probe_icons/probe_x_valley.png

qtvcp/images/widgets/basic_probe_icons/probe_y_ridge.png

qtvcp/images/widgets/basic_probe_icons/probe_y_valley.png

qtvcp/images/widgets/basic_probe_icons/rect_boss.png

qtvcp/images/widgets/basic_probe_icons/rect_pocket.png

qtvcp/images/widgets/basic_probe_icons/right_side_edge.png

qtvcp/images/widgets/basic_probe_icons/round_boss.png

qtvcp/images/widgets/basic_probe_icons/round_pocket.png

qtvcp/images/widgets/basic_probe_icons/tool_probe.png

qtvcp/images/widgets/basic_probe_icons/x_minus.png

qtvcp/images/widgets/basic_probe_icons/x_plus.png

qtvcp/images/widgets/basic_probe_icons/y_minus.png

qtvcp/images/widgets/basic_probe_icons/y_plus.png

qtvcp/images/widgets/basic_probe_icons/z_clearance_r.png

qtvcp/images/widgets/basic_probe_icons/z_clearance.png

qtvcp/images/widgets/basic_probe_icons/z_top_r.png

qtvcp/images/widgets/basic_probe_icons/z_top.png

qtvcp/images/widgets/basic_probe_help/extra_probe_depth.png

qtvcp/images/widgets/basic_probe_help/max_xy_distance.png

qtvcp/images/widgets/basic_probe_help/max_z_distance.png

qtvcp/images/widgets/basic_probe_help/step_off_width.png

qtvcp/images/widgets/basic_probe_help/xy_clearance.png

qtvcp/images/widgets/basic_probe_help/z_clearance.png

qtvcp/images/qtdragon/checked.png

qtvcp/images/qtdragon/machine_off.png

qtvcp/images/qtdragon/machine_on.png

qtvcp/images/qtdragon/unchecked.png

qtvcp/images/qtdragon/images/a_minus_jog_button.png

qtvcp/images/qtdragon/images/a_plus_jog_button.png

qtvcp/images/qtdragon/images/atc_spindle_tool.png

qtvcp/images/qtdragon/images/brushed_metal.png

qtvcp/images/qtdragon/images/Left_arrow.png

qtvcp/images/qtdragon/images/linuxcnc-wizard.gif

qtvcp/images/qtdragon/images/Right_arrow.png

qtvcp/images/qtdragon/images/silver_dragon.png

qtvcp/images/qtdragon/images/tool_probe.png

qtvcp/images/qtdragon/images/x_minus_jog_button.png

qtvcp/images/qtdragon/images/x_plus_jog_button.png

qtvcp/images/qtdragon/images/y_minus_jog_button.png

qtvcp/images/qtdragon/images/y_plus_jog_button.png

qtvcp/images/qtdragon/images/z_minus_jog_button.png

qtvcp/images/qtdragon/images/z_plus_jog_button.png

qtvcp/panels/cam_align/

qtvcp/panels/sim_panel/

qtvcp/panels/test_panel/

qtvcp/screens/blender/

qtvcp/screens/qt_cnc_800x600/

qtvcp/screens/qt_cnc_9_axis/

qtvcp/screens/qt_cnc/

qtvcp/screens/qtaxis/

qtvcp/screens/qtlathe/

qtvcp/screens/qttouchy/

qtvcp/screens/tester/

qtvcp/screens/x1mill/

qtvcp/screens/qtdragon/qtdragon.ui.*
qtvcp/screens/qtdragon/*.orig

qtvcp/screens/qtdragon/qtdragon_handler.pyc

qtvcp/screens/qtdragon/resources.pyc

qtvcp/widgets_ui/basic_probe_help.ui

qtvcp/widgets_ui/basic_probe.ui

qtvcp/widgets_ui/mdi_touchy.ui

qtvcp/widgets_ui/nurbs_editor.ui

qtvcp/widgets_ui/runFromLine_dialog.ui

qtvcp/widgets_ui/style_dialog.ui

qtvcp/widgets_ui/versa_probe.ui

qtvcp/widgets_ui/versa_usage.html

qtvcp/widgets_ui/virtual_keyboard.ui

qtvcp/screens/qtdragon/qtdragon_dark_grey.qss

qtvcp/screens/qtdragon/qtdragon_flat.qss

qtvcp/screens/qtdragon/qtdragon.qss

configs/DCNC/autosave.halscope

*.ignore
